.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 50px;
  background: #ffffff;
  max-width: 1024px;
  overflow: hidden;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #494949;
  height: 100%; }
  .container .card {
    position: relative;
    width: 30.1%;
    float: left;
    border: 2px solid #ececec;
    border-radius: 2px;
    margin-bottom: 20px; }
    .container .card:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }
    .container .card:not(:nth-child(3n+0)) {
      margin-right: 3.2%; }
    .container .card .card-image {
      position: relative; }
      .container .card .card-image img {
        max-width: 100%; }
      .container .card .card-image .card-name {
        display: inline-block;
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: white;
        z-index: 1;
        color: #b1b1b1;
        font-size: 0.8em;
        border: 1px solid #f2f2f2;
        border-radius: 2px;
        padding: 5px 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19); }
    .container .card .card-info {
      padding: 35px 30px;
      font-size: 0.875em;
      line-height: normal; }
      .container .card .card-info p {
        margin-bottom: 15px; }
      .container .card .card-info .distance-info {
        color: #b1b1b1;
        font-size: 0.8em;
        margin-bottom: 40px; }
      .container .card .card-info .cost-info {
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0px 30px 35px 30px;
        font-size: 0.875em;
        line-height: normal; }
        .container .card .card-info .cost-info p {
          float: left;
          margin: 0;
          color: #030303; }
          .container .card .card-info .cost-info p.value {
            float: right;
            color: #676767; }
            .container .card .card-info .cost-info p.value span:not(:first-child):before {
              content: "";
              border-left: 1px solid #e5e5e5;
              min-height: 15px;
              margin: 0 10px 0 15px;
              vertical-align: middle; }

/* Responsive css for smaller device*/
@media only screen and (max-width: 767px) {
  .container .card {
    width: 100%;
    float: none;
    display: block; }
  .container .card:not(:nth-child(3n+0)) {
    margin-right: 0; } }
