<!-- <div class="card"> -->
	<div class="card-image">
		<img src="{{advertisement.advertisementAssets[0].advertisementThumbnails.inventory_m.url}}">
		<div class="card-name">{{advertisement.purpose===0?"Mieten":"Kaufen"}}</div>
	</div>
	<div class="card-info"> 
		<p>{{advertisement.title}}</p>
		<p class="distance-info">{{advertisement.realestateSummary.address.fullAddress}}</p>		
		<div class="cost-info">
			<p class="price">{{advertisement.advertisementPrice.baseRent | currency:'EUR':true}}</p>
			<p class="value">
				<span>{{advertisement.realestateSummary.numberOfRooms}} Zimmer</span>
				<span>ab {{advertisement.realestateSummary.space | number:'1.0-0'}} m<sup>2</sup></span>
			</p>
		</div>
	</div>
	
<!-- </div> -->